body{
    background-color: black;
    color: #FFFFFF;
}
h2{
    margin: 20px;
}
input{
    background-color: black;
    color: #FFFFFF;
    border:1px solid;
    padding: 5px;
    width: 400px;
    margin:15px ;
}
form button{
    width: 600px;
    margin: 15px;
    padding: 10px;
    font-weight: 700;
    background-color: white;

}
.search-bar{
    width: 94vw;
    padding: 10px;
}
#table{
    border: solid 1px;
    border-collapse: collapse;
    width: 95vw;
    margin: 20px;
   
}
th{
    padding: 10px;
}
td{
    padding: 10px;
}
.row{
    border-bottom:  black;
}
.col5{
    display: flex;;
    justify-content: space-between;
}

.table-2{
    
    border-collapse: collapse;
    width: 95vw;
    margin: 20px;
}
.edit-now{
    background-color: black;
    color: white;;
    border: 1px solid white;
    pointer-events: none;
}
.add-stu{
    background-color: white;
    color: black;
    border: none;
}